.calendario {
  display: grid;
  padding: 10px;
}

.fila {
  display: flex;
  padding: 5px;
}

.dia, .mes {
  width: 30px;
  height: 30px;
  padding: 5px 11.5px;
}

.fila-meses{
  margin-left: 45px;
}

.celda {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  border: 1px solid black;
  border-radius: 50%; /* Hace que las celdas sean círculos */
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }